# VS Code settings
.vscode/

# Env
.env
.venv/
env/
venv/

# Logs
*.log

# Byte-compiled / cache files
__pycache__/
*.py[cod]



# custom
error_calc.py
camera-reprojection-error.py
pokus.py
pokus_1.py
test_camera.py
_TO_DO.txt

saved_data_kamera_robot/
data_sets/
calibration_results/
