# VS Code settings
.vscode/

# Env
.env
.venv/
env/
venv/

# Logs
*.log

# Calib results
*.yaml

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# custom
metrics_visualization.py
error_calc copy.py
pokus.py
pokus_1.py
test_camera.py
_TO_DO.txt
project-readme.md
requirements-file.md

poloha_robota_presne/
data_sets/
grafy/